<main class="main">
    <div class="content">
      <div class="header">
        <img src="/assets/disneey.png" alt="Background" class="background-image" />
      </div>
      
      <nav class="menu">
        <ul>
          <li><a (click)="navegarInicio()">Inicio</a></li>
          <li><a (click)="navegarCenicienta()">Cenicienta</a></li>
          <li><a href="#">La sirenita</a></li>
          <li><a href="#">La bella y la bestia</a></li>
          <li><a href="#">La bella durmiente</a></li>
          <li><a href="#">Enredados</a></li>
        </ul>
      </nav>
  
      
  
      <div class="content">
        <h2>La Sirenita</h2>
  
      </div>
  
      <footer>
        <img src="/assets/angularlogo.jpg" alt="Angular Logo" class="angular-logo" />
      </footer>
    </div>
  </main>
  